# Node
/node_modules
npm-debug.log
yarn-error.log

# Laravel
/vendor
/storage/*.key
/storage/pail
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/public/storage

# Laravel build
/public/hot
/public/build
!.gitkeep  # Keep a placeholder if needed

# Environment
.env
.env.*
.auth.json

# PHPUnit
/.phpunit.cache
.phpunit.result.cache

# IDEs / Tools
/.vscode
/.idea
/.fleet
/.nova
/.zed
.phpactor.json

# Dev Scripts and Vite Config
/scripts/fix-manifest.js
-vite.config.cjs
+vite.config.js