includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
    level: 6

    # Good defaults
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkPhpDocMissingReturnType: false
    treatPhpDocTypesAsCertain: false

    # Optional perf / noise tuning
    reportUnmatchedIgnoredErrors: true
    tipsOfTheDay: false