.mask-fade-left {
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), transparent);
    mask-image: linear-gradient(to right, rgba(0,0,0,1), transparent);
  }
  
  .mask-fade-right {
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), transparent);
    mask-image: linear-gradient(to left, rgba(0,0,0,1), transparent);
  }
  